/* .header {
  position: static;
  width: 100vw;
  height: 300px;
    background: skyblue;
} */

.header-item {
  display: inline-block;
}

.li-stripe-button {
  padding-right: 50px;
}

#sidenav-overlay {
  z-index: 0;
}

.blue i {
  line-height: inherit !important;
}

.text-red {
  color: red !important;
}

.hide-default{
  display: none;
}

.border-teal {
  border: 1px solid teal;
}

.error-li {
  list-style-type: disc !important;
}

.ReactModal__Content {
  opacity: 0;
  top: 100px !important;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.checkout-label{
  font-weight: bolder;
  font-size: 1rem;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.contain-payment {
  text-align: right;
}
.select-qty {
  display: inline-block;
  width: inherit;
}
.form-qty {
  bottom: 5px;
  position: relative;
}

.img-product-card {
  max-height: 160px;
  display: block;
  max-width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-margin{
  margin: 20px 0 20px 0;
}

/* .product-modal{
  opacity: 0;
}

.product-modal--after-open{
  opacity:1;
  transition: opacity 150ms;
}

.product-modal--before-close{
  opacity: 0;
} */

.div-horizontal-margin {
  margin: 0 30px 0 30px;
}

.btn-padding {
  margin: 20px;
}

.image-product-collapsible {
  max-height: 200px;
  max-width: 200px;
}

.collapsible-header {
  font-weight: bolder;
  font-size: 140%;
}

.button-edit-collapsible {
  float: right;
  z-index: 0;
}

@media only screen and (min-width: 992px) {
  nav .brand-logo {
    left: 10px;
  }
}

.collapsible-body {
  font-weight: bold;
}

/* .li-stripe-button > span{
  margin: auto;
} */

@media only screen and (max-width: 992px) {
  .li-stripe-button {
    margin: 10px;
  }
}

.carousel-item{
  /* width: 100% !important; */
  width: fit-content;
  height: fit-content;
}

.center{
  margin: auto;
}

.product-error-msg{
  margin-top: 100px;
}

.div-vertical-margin{
  margin-top: 30px;
  margin-bottom: 30px;
}