/* .header {
  position: static;
  width: 100vw;
  height: 300px;
    background: skyblue;
} */

.header-item {
  display: inline-block;
}

.li-stripe-button {
  padding-right: 50px;
}

#sidenav-overlay {
  z-index: 0;
}

.blue i {
  line-height: inherit !important;
}

.text-red {
  color: red;
}

.error-li {
  list-style-type: disc !important;
}

.div-horizontal-margin {
  margin: 0 30px 0 30px;
}

@media only screen and (min-width: 992px) {
  nav .brand-logo {
    left: 10px;
  }
}

/* .li-stripe-button > span{
  margin: auto;
} */

@media only screen and (max-width: 992px) {
  .li-stripe-button {
    margin: 10px;
  }
}
