.header {
  position: static;
  width: 100vw;
  height: 300px;
    background: skyblue;
}

.header-item {
  display: inline-block;
}

.li-stripe-button{
  padding-right: 50px;
}

#sidenav-overlay{
  z-index: 0;
}

/* .li-stripe-button > span{
  margin: auto;
} */

@media only screen and (max-width:992px){
  .li-stripe-button{
    margin: 10px;
  }
}